*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

th{
    padding: 10px;
    background-color: #897cff;
    font-size: 20px;
}

table, th, tr{
    border: 2px black solid;
    border-radius: 5px;
}

td{
    border: 1px rgba(0, 0, 0, 0.107) solid;
}